// ----- BUTTONS AND CTA

// --- CTA-COMPRAR

.cta-comprar {
    background-color: $color-cta;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 40px;
    height: 55px;
    padding: 30px;
    margin: 0;
    // padding-top: 10px;
}

.cta-comprar:hover {
    background-color: $color-black;
    color: $color-white;
}


.add-cart-button {
    background-color: $color-black;
    border: none;
    color: $color-white;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: auto;
}

.add-cart-button:hover {
    background-color: $color-cta;
    color: $color-black;
    cursor: pointer;
}


.cta-purple {
    background-color: $color-main;
}

// filtros
.GLUTEN, .AZUCAR {
    background-color: $color-main;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: $unit;
    border-radius: 40px;
    height: 44px;
    padding: 16px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

}

.small {
    height: 22px;
    width: 22px;
    font-size: 24px;
}
