a {
    text-decoration: none;
    color: $color-black;
}

.rrsslink {
    width: 24px;
    height: 24px;
    margin-left: $space;
}


.footer__links {
    color: $color-white;
}

.aquilink {
    text-decoration:underline;
}