// --- Headings
h1 {
    font-family: $main-font;
    font-size: 58px;
}

h2 {
    font-family: $main-font;
    font-size: 32px;
}

.p-large {
    font-size: 24px;
}



.bold {
    font-weight: bold;
}