// ----- $COLOR

// color principal
$color-purple: #D2BEFF;
// color secundario
$color-green: #B9FB2C;

//color gradiente principal
$color-white: #F4EEE0;
$color-grey: #B1B1B1;
$color-black: #232323; 

$color-main: $color-purple;
$color-cta: $color-green;
