// --------****MEMIUM****-------
@media (max-width: 1300px) {

    // home- grid
        .item__list {
            grid-template-columns: repeat(2, 1fr);
        }
    // home- otras
        .item-otras {
            flex-direction: column;
        }
        .cake-img-otras {
            width: 400px;
        }
    // home- vegan
    .section__vegan {
        grid-gap: 100px;
        grid-template-columns: repeat(2, 1fr);
    }

    // -- buttons --
    .cta-comprar {
        height: 24px;
        padding: 22px;
    }

}

// ------------------------------
// --------****MOBILE****--------
// ------------------------------

@media (max-width: 900px) {
// --- clases ---
.paddings {
    padding-top: 50px;
    padding-bottom: 50px;
}
// --- GRIDS ---
    .item__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .section__vegan {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

// -- typography --
    h1 {
        font-size: 36px;
    }
    
    .p-large {
        font-size: 22px;
    }

    .section__title {
        padding-bottom: 50px;
        text-align: center;
    }

    
    .review__text {
        font-size: 12px;
      }

    
// -- HOME PAGE
    .menu__mobile {
        display:inline;
    }
    .header__links {
    
        .nav-desktop {
            display: none;
        }
    } 

    .landing {
        flex-direction: column;

        .video-landing__container {
            width: 100%;
            height: 300px;
        }

        .text-landing__container {
            justify-content: center;
            width: 100%;
            height: 350px;
            margin-top: 10%;
        }
    }
    
    // footer
    .container__footer-links {
        flex-direction: column;
        gap: 16px;
    }
// newsletter
    .espacio-enter {
        display: none;
    }

    .newsletter__p {
        margin-top: $space!important;
        width: 300px;
        margin: auto;
    }

}