.info-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-bottom: 100px;
}


.info-link {
    text-decoration: underline;
}

.contact-link {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
}