.landing {
    border-top: none;
    display: flex;
    background-color: $color-main;

    .video-landing__container {
        // background: url(../resources/images/landing-images/landing-image1.png) no-repeat;
        // background: url(../resources/images/landing-images/landingimg2.png) no-repeat;
        // background-size: cover;
        border-right: 1px solid $color-black;
        width: 50%;
        height: 800px;
        overflow: hidden;
    }

    .video-landing {
        width: fit-content;

    }

    .text-landing__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 10%;
        text-align: center;
    }
}