// --- shipping loop

.loop-listship {
    display: flex;
    flex-direction: row;
    gap: 90px;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}

// ----- LOOP HEADER
.container__loop-list {
    background-color: $color-black;
    color: $color-white;
    height: 45px;
    width: auto;
    overflow: hidden;
}

.loop-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    animation: animate 40s linear infinite;
    animation-delay: -40s;

        li {
            display: inline;
}

    @keyframes animate {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}