// --- newsletter
.newsletter__p, .newsletter__title, .newsletter__input, .newsletter__label {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsletter__input {
    margin-top: 24px;
    background-color: $color-white;
    border-radius: 24px;
    height: 40px;
    width: 400px;
}

.newsletter__label, .newsletter__button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    margin: auto;
}

.newsletter__button {
    border: none;
    width:fit-content;
    margin-top: 24px;
}

.newsletter__title {
    margin-bottom: 0;
    padding-bottom: 0;
}