
// -------------swipper

.swiper {
    width: 100%;
    height: 300px;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 24px;

    /* Center slide text vertically */

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper-pagination {
      color: $color-main;
  }

.review__container {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

.review__user {
  display: flex;
    flex-direction: row;
}

.review__text {
  text-align: left;
}