// ---------- HOME- SECTIONS ----------

// ----- SECTION LO MÁS VENDIDO

// sección lo más vendido
.section__home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// info del producto
.item-name {
    margin-bottom: $unit;
}
        // nombre y precio
.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0;
}

// nombre & precio & añadir a la cesta
.item-bottom {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}


.cake-img {
    width: 330px;
    height: 330px;
}
.cake-img:hover {
    background-color: $color-purple;
}


// ----- SECTION OTRAS TARTAS
.item-otras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.cake-img-otras {
    width: 500px;
}

.cake-img-otras:hover {
    background-color: $color-purple;
}
.item-otras-info {
    width: 100%;
    padding-top: $unit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// ----- SECTION INSTAGRAM
.section__instagram-hashtag {
    margin-right: auto;
}

.igpic {
    width: 300px;
    height: 300px;
}

// ----- SECTION VEGAN
// (grid) 

.section__vegan-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 50px;
}

.section__vegan-p {
    text-align: center;
    width: 200px;
}

.illustration-vegan {
    height: 130px;
}
